@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
-_-_-_-_-_-_-_-_-_-_Général-_-_-_-_-_-_-_-_-_-_-
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
*/

*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html, body {
  margin: 0;
  height : 100%;
}


h1, h2, h3, h4{
  margin : 0;
}

/*
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
-_-_-_-_-_-_-_-_-_-_color-_-_-_-_-_-_-_-_-_-
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
*/

.color-1{ /* noir */
  color : #000;
}
.bg-color-1{
  background-color: #000;
}

.color-2{ /* blanc */
  color : #fff;
}
.bg-color-2{
  background-color: #fff;
}

.bg-grey {
  background-color: grey;
}
/*
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
-_-_-_-_-_-_-_-_-_Images-_-_-_-_-_-_-_-_-_-_-
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
*/

.image1{
  background-image: url('../src/img/image1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/*
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
-_-_-_-_-_-_-_-_-_homepage_-_-_-_-_-_-_-_-_-_-
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
*/

main{
  height: 100vh;
  width: 100vw;
}

/* HEADER */

header{
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  font-family: 'Lato', sans-serif;
}

header input{
  border: none;
  outline: none;
  height: 1.5rem;
}

header input.connect{
  font-weight: 800;
}
header input.connect:hover{
  cursor: pointer;
}

/* homepage */


.homepage .container{
  width: 35vw;
  margin-left : 60vw;
  height: 100%;
  /*background-color: yellow;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .content{
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  min-height: 40%;
  padding : 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content h3{
  margin-bottom: 10px;
}

form p{
  margin: 0;
  text-align: left;
}

.content form input{
  width: 100%;
  font-size: 1.3em;
  padding: 10px;
  border : none;
  outline : none;
  margin-bottom: 5px;
}

input.btn{
  -webkit-transition: all .3s;
  transition: all .3s;
}

input.btn:hover{
  background-color: rgb(159, 57, 49);
  color: #fff;
  cursor: pointer;
}

.error {
  color : red;
  margin-bottom: 25px;
}

.error p {
  text-align: center;
}
